
logs/
.static_storage/
media/
settings/
static/
.htaccess


### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

# Mac OSX
.DS_Store

# Django
migrations/
*.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/bin/
*.cfg
etc/
include/
lib/
share/

# mypy
.mypy_cache/

*.pid
index.html alias

