{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}
    {% if user.is_superuser %}
        Zugehörigkeiten von {{ cleaner }}
    {% else %}
        Deine Zugehörigkeiten
    {% endif %}
{% endblock %}

{% block main %}
    {% if user.is_superuser %}
        <h2>Zugehörigkeiten von <b>{{ cleaner }}</b></h2>

        <p><a class="btn btn-default btn-block" role="button" href="{% url 'webinterface:config' %}">
            <span class="glyphicon glyphicon-home"></span> Zur Admin-Übersicht
        </a></p>

        <div class="well">
        <h3>Neue Zugehörigkeit eintragen</h3>
        <form method="POST" class="form" id="main_form">
            {% crispy form %}
            {% if submit_button %}
                <button class="btn btn-success" type="submit" name="save" form="main_form" >
                    <span class="glyphicon glyphicon-ok"></span> {{ submit_button.text }}</button>
            {% endif %}
        </form>
    </div>
    {% else %}
        <h2>Deine Zugehörigkeiten</h2>

        <p><a class="btn btn-default btn-block" role="button" href="{% url 'webinterface:cleaner-no-page' %}">
            <span class="glyphicon glyphicon-home"></span> Zurück
        </a></p>

        <p>Bei Fragen wende dich bitte an den Administrator.</p>
    {% endif %}

    <table class="table">
        {% for affiliation in cleaner.affiliation_set.all %}
            <tr>
                <td class="info"><b>{{ affiliation.group }}</b></td>
                <td>{{ affiliation.beginning_as_date|date:"d. M, Y" }} bis
                    {{ affiliation.end_as_date|date:"d. M, Y" }}</td>
                {% if user.is_superuser %}
                    <td><a class="btn btn-default btn-sm" href="{% url 'webinterface:affiliation-edit' affiliation.pk %}"
                           role="button">
                        <span class="glyphicon glyphicon-cog"></span> Bearbeiten</a></td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td>Keine Zugehörigkeiten definiert.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
