{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst erledigen
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/button_to_cleaner_page.html" %}
        </div>
        {% if schedule_page > 0 %}
            <div class="btn btn-group btn-group-md btn-group-justified" role="group">
                <a class="btn btn-default btn-block" role="button"
                   href="{% url 'webinterface:schedule-view' cleaning_week.schedule.slug schedule_page %}">
                    Zurück zu <span class="glyphicon glyphicon-list-alt"></span> {{ cleaning_week.schedule.name }}
                </a>
            </div>
        {% endif %}
        {% if cleaner_page > 0 %}
            <div class="btn btn-group btn-group-md btn-group-justified" role="group">
                <a class="btn btn-default btn-block" role="button"
                   href="{% url 'webinterface:cleaner' cleaner_page %}">
                    Zurück
                </a>
            </div>
        {% endif %}
    </div>

    {% if already_cleaned_error %}
        <h3 style="padding: 1em;" class="bg-danger">{{ already_cleaned_error }}</h3>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            {% if cleaner in cleaning_week.assigned_cleaners %}
                <h4>Hallo {{ cleaner }}!
                    Du bist am {{ cleaning_week.assignment_date|date:"d. M. y" }} für den Putzdienst
                    {{ cleaning_week.schedule }} eingetragen
                {% if assignment.cleaning_buddies %}
                     zusammen mit
                    {% for other_cleaner in assignment.cleaning_buddies %}
                        {{ other_cleaner }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endif %}!</h4>
            {% else %}
                <h4>
                    {% for cleaner in cleaning_week.assigned_cleaners %}
                        {{ cleaner }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    {{ cleaning_week.assigned_cleaners.count|pluralize:"ist,sind" }}
                    am {{ cleaning_week.assignment_date|date:"d. M, y" }} für den Putzdienst
                    {{ cleaning_week.schedule }} eingetragen. </h4>
            {% endif %}

        </div>
    </div>

    <h4>Folgende Aufgaben stehen an.
        {% if cleaner in cleaning_week.assigned_cleaners %}
            Wenn du einen Teil geputzt hast, klicke auf die entsprechende
            Aufgabe, um sie abzuschließen.
        {% endif %}
    </h4>
    <div class="row">
        {% for task in tasks.uncleaned %}
            <div class="col-xs-12 col-sm-6" style="padding: 5px; white-space: normal">
                {% include 'webinterface_snippets/task_panel.html' %}
            </div>
        {% empty %}
            <i>Es gibt keine Aufgaben...</i>
        {% endfor %}
    </div>
    <h4>Folgende Aufgaben wurden schon geputzt.</h4>
    <div class="row">
        {% for task in tasks.cleaned %}
            <div class="col-xs-12 col-sm-6" style="padding: 5px; white-space: normal">
                {% include 'webinterface_snippets/task_panel.html' %}
            </div>
        {% empty %}
            <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px; white-space: normal">
                <i>Keine bisher...</i>
            </div>
        {% endfor %}
    </div>
{% endblock %}