{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst erledigen
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/home_button.html" %}
            {% include "webinterface_snippets/button_to_schedule_page.html" %}
        </div>
    </div>

    {% if already_cleaned_error %}
        <h3 style="padding: 1em;" class="bg-danger">{{ already_cleaned_error }}</h3>
    {% endif %}

    {% if cleaner in cleaning_week.assigned_cleaners %}
        <div class="alert alert-info" role="alert">
            <p><strong>Hallo {{ cleaner }}!</strong></p>
            <p>
                Du bist am
                <span class="glyphicon glyphicon-calendar"></span>
                <strong>{{ cleaning_week.assignment_date|date:"d. M. y" }}</strong>
                {% if assignment.cleaning_buddies %}
                    zusammen mit
                    {% for other_cleaner in assignment.cleaning_buddies %}
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{ other_cleaner }}</strong>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
                für den Putzdienst
                <span class="glyphicon glyphicon-list-alt"></span>
                <strong>{{ schedule }}</strong> eingetragen!
            </p>
        </div>
        <p>
            Wenn du einen Teil geputzt hast, klicke auf die entsprechende
            Aufgabe, um sie abzuschließen.
        </p>
    {% endif %}

    <h4>Folgende Aufgaben stehen an.</h4>

    <div class="alert alert-info" role="alert">
        <p>
            <strong>{{ tasks.cleaned.count }}</strong> von <strong>{{ tasks.count }}</strong> Aufgaben sind
            abgehakt.
        </p>
    </div>

    <div class="row">
        {% for task in tasks.uncleaned %}
            <div class="col-xs-12 col-sm-6" style="padding: 5px; white-space: normal">
                {% include 'webinterface_snippets/task_panel.html' %}
            </div>
        {% endfor %}
    </div>
    <h3>Folgende Aufgaben wurden schon geputzt.</h3>
    <div class="row">
        {% for task in tasks.cleaned %}
            <div class="col-xs-12 col-sm-6" style="padding: 5px; white-space: normal">
                {% include 'webinterface_snippets/task_panel.html' %}
            </div>
        {% empty %}
            <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px; white-space: normal">
                <p><i>Es wurde noch nichts abgehakt.</i></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}