{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="de_DE">
<head>
    {% block bootstrap_meta_tags %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'webinterface/extra_styles.css' %}"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% block body %}
        <!-- Main content -->
    {% endblock %}
</body>
</html>
