<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="de_DE">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <!--link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic" rel="stylesheet" type="text/css"-->
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script-->
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    {% block body %}
        <!-- Main content -->
    {% endblock %}
</body>
</html>
