{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst erledigen
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/button_to_cleaner_page.html" %}
        </div>
    </div>

    {% if already_cleaned_error %}
        <h3 style="padding: 1em;" class="bg-danger">{{ already_cleaned_error }}</h3>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Hallo {{ assignment.cleaner }}! Du putzt dieses Wochenende {{ assignment.schedule.name }}
                {% if assignment.cleaning_buddies %}
                    zusammen mit
                    {% for other_cleaner in assignment.cleaning_buddies %}{{ other_cleaner }} {% endfor %}
                {% endif %}</h4>
        </div>
    </div>

    <h4>Folgende Aufgaben stehen an. Wenn du einen Teil geputzt hast, klicke auf die entsprechende
        Aufgabe, um sie abzuschließen.</h4>

    <p>Bitte denke daran, dass du die Verantwortung für die richtige
        Ausführung der Aufgaben verantwortlich bist, die du hier anklickst. <b>Sollten die Aufgaben
            nicht richtig ausgeführt worden sein, so haftest du.</b></p>

    <div class="row">
        {% for task in tasks %}
            <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px; white-space: normal">
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task_pk" value="{{ task.pk }}"/>
                    <input type="submit" name="cleaned"
                        style="white-space: normal;"
                        {% if task.cleaned_by %}
                            {% if task.cleaned_by.cleaner == assignment.cleaner %}
                                class="btn btn-lg btn-block btn-success"
                                value="Du hast '{{ task.name }}' gemacht"
                            {% else %}
                                class="btn btn-lg btn-block btn-default active" disabled="disabled"
                                value="{{ task.cleaned_by.cleaner.name }} hat '{{ task.name }}' gemacht"
                            {% endif %}
                        {% else %}
                            class="btn btn-lg btn-block btn-info"
                            value="{{ task.name }}"
                        {% endif %}/>
                </form>
            </div>
        {% empty %}
            <div class="col-xs-12">
                <h3>Keine Alternativen gefunden</h3>
            </div>
        {% endfor %}
    </div>
    <form method="post" style="padding: 5px">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock %}