{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Lösche Putzplan
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin: 1em;">
            <div class="col-sm-8 col-sm-offset-2
                    col-md-6 col-md-offset-3">
                <h1>Lösche Putzplan</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Bist du dir sicher, dass du "{{ object.name }}" löschen möchtest?</p>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ object.name }}</h2>
                                </div>
                                <div class="panel-body">
                                    <h4>Putzer pro Woche: {{ object.cleaners_per_date }}</h4>
                                    {% if object.cleaners.all %}
                                    <h4>Putzer die diesem Plan zugeordnet sind: </h4>
                                        <ul>
                                            {% for cleaner in object.cleaners.all %}
                                                <li>{{ cleaner.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <h4>Tasks</h4>
                                    <ul>
                                        {% ifnotequal object.task1 "" %}<li>{{ object.task1 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task2 "" %}<li>{{ object.task2 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task3 "" %}<li>{{ object.task3 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task4 "" %}<li>{{ object.task4 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task5 "" %}<li>{{ object.task5 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task6 "" %}<li>{{ object.task6 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task7 "" %}<li>{{ object.task7 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task8 "" %}<li>{{ object.task8 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task9 "" %}<li>{{ object.task9 }}</li>{% endifnotequal %}
                                        {% ifnotequal object.task10 "" %}<li>{{ object.task10 }}</li>{% endifnotequal %}
                                    </ul>
                                </div>
                            </div>
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Ja</button>
                    <a class="btn btn-info" href="{% url 'webinterface:config' %}" role="button">
                        <span class="glyphicon glyphicon-remove"></span> Nein</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}