{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst erledigen
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin: 1em;">
            <h1>Putzdienste</h1>
            <a class="btn btn-default" role="button"
                    href="{% url 'webinterface:cleaner' assignment.cleaner.slug 1 %}">
                <span class="glyphicon glyphicon-chevron-left"></span> Zurück
            </a>
        </div>
        <div class="row">
            {% if already_cleaned_error %}
                <h3 style="padding: 1em;" class="bg-danger">{{ already_cleaned_error }}</h3>
            {% endif %}
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h2>Hallo {{ assignment.cleaner }}! Du putzt dieses Wochenende {{ assignment.schedule.name }}
                        zusammen mit
                        {% for other_cleaner in assignment.cleaning_buddies %}{{ other_cleaner }} {% endfor %}</h2>
                </div>
                <div class="panel-body">
                    <h3>Folgende Aufgaben stehen an. Wenn du einen Teil geputzt hast, klicke auf die entsprechende
                        Aufgabe, um sie abzuschließen.</h3>
                    <p>Bitte denke daran, dass du die Verantwortung für die richtige
                        Ausführung der Aufgaben verantwortlich bist, die du hier anklickst. Sollten die Aufgaben
                        nicht richtig ausgeführt worden sein, so haftest du.</p>

                    <div class="row">
                        {% for task in tasks %}
                            <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px; white-space: normal">
                                <form class="form-inline" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_pk" value="{{ task.pk }}"/>
                                    <input type="submit" name="cleaned"
                                        style="white-space: normal;"
                                        {% if task.cleaned_by %}
                                            {% if task.cleaned_by == assignment.cleaner %}
                                                class="btn btn-lg btn-block btn-success"
                                                value="Du hast '{{ task.name }}' gemacht"
                                            {% else %}
                                                class="btn btn-lg btn-block btn-default active" disabled="disabled"
                                                value="{{ task.cleaned_by.name }} hat '{{ task.name }}' gemacht"
                                            {% endif %}
                                        {% else %}
                                            class="btn btn-lg btn-block btn-info"
                                            value="{{ task.name }}"
                                        {% endif %}/>
                                </form>
                            </div>
                        {% empty %}
                            <h3>Keine Alternativen gefunden</h3>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <form method="post" style="padding: 5px"
                              class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}