{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Cleaners
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1
                        col-md-8  col-md-offset-3
                        col-lg-6">
                <div class="well" style="margin-top: 1em">
                    <div class="text-center">
                        <h2 style="margin-top: 0px">View cleaning schedules</h2>
                        <form method="POST" class="form form-inline">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Cleaning schedules
                    <a class="btn btn-default" href="{% url 'webinterface:cleaning-schedule-new' %}" role="button">
                    <span class="glyphicon glyphicon-plus"></span> New schedule</a></h2>
                <div class="well">
                    <div class="row">
                        {% for schedule in schedule_list %}
                            <div class="col-xs-12 col-sm-6" style="padding: 5px">
                                <a class="btn btn-primary btn-lg btn-block" role="button"
                                   href="{% url 'webinterface:cleaning-schedule-edit' schedule.pk %}">
                                    <span class="glyphicon glyphicon-list-alt"></span> {{ schedule.name }}
                                </a>
                            </div>
                        {% empty %}
                            <p>No schedules to show...</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Cleaners
                    <small>Active: {{ cleaner_list.count }} Inactive: {{ deactivated_cleaner_list.count }}</small>
                    <a class="btn btn-default" href="{% url 'webinterface:cleaner-new' %}" role="button">
                    <span class="glyphicon glyphicon-plus"></span> New cleaner</a>
                </h2>
                <div class="well">
                    <div class="row">
                        {% for cleaner in cleaner_list %}
                            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                                <a class="btn btn-primary btn-lg btn-block" role="button"
                                   href="{% url 'webinterface:cleaner-edit' cleaner.pk %}">
                                    <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                                </a>
                            </div>
                        {% empty %}
                            <p>Nothing to display here...</p>
                        {% endfor %}
                    </div>
                    {% if deactivated_cleaner_list %}
                        <div class="row">
                            <h3>Cleaners that moved out</h3>
                            {% for cleaner in deactivated_cleaner_list %}
                            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                                <a class="btn btn-default btn-lg btn-block" role="button"
                                   href="{% url 'webinterface:cleaner-edit' cleaner.pk %}">
                                    <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}