{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Cleaners
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2">
                <h1>Set configuration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1
                        col-md-8  col-md-offset-3
                        col-lg-6">

                    <form method="POST" class="form form-inline">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Cleaning schedules <a class="btn btn-primary" href="{% url 'webinterface:cleaning-schedule-new' %}" role="button">
                    <span class="glyphicon glyphicon-plus"></span> New schedule</a></h2>
                {% for schedule in schedule_list %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ schedule.name }}
                                <small>
                                    {% ifnotequal schedule.cleaners.count 0 %}
                                        Has
                                        {{ schedule.cleaners.count }} cleaner(s)
                                    {% else %}
                                        Not assigned any cleaners
                                    {% endifnotequal %}
                                </small></h2>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-info" href="{% url 'webinterface:cleaning-schedule-edit' schedule.pk %}"
                               role="button"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
                            <a class="btn btn-danger" href="{% url 'webinterface:cleaning-schedule-delete' schedule.pk %}"
                               role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </div>
                    </div>
                {% empty %}
                    <p>No schedules to show...</p>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Cleaners <small>Number of cleaners: {{ cleaner_list.count }}</small> <a class="btn btn-primary" href="{% url 'webinterface:cleaners-new' %}" role="button">
                    <span class="glyphicon glyphicon-plus"></span> New cleaner</a></h2>
                {% for cleaner in cleaner_list %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h2 class="panel-title">{{ cleaner.name }}
                                    <small>
                                        {% ifnotequal cleaner.nr_of_assigned_schedules 0 %}
                                            Cleans on
                                            {{ cleaner.nr_of_assigned_schedules }} schedule(s)
                                        {% else %}
                                            Not assigned to any schedules
                                        {% endifnotequal %}
                                    </small>
                                 </h2>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-info" href="{% url 'webinterface:cleaners-edit' cleaner.pk %}"
                                   role="button"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
                                <a class="btn btn-danger" href="{% url 'webinterface:cleaners-delete' cleaner.pk %}"
                                   role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </div>
                        </div>
                {% empty %}
                    <p>Nothing to display here...</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}