{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>
    <h2>Bist du dir sicher, dass du {{ object.name }} löschen möchtest?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Ja</button>
        <a class="btn btn-info"
                {% if cancel_url %}
                    href="{{ cancel_url }}"
                {% else %}
                    href="{% url 'webinterface:config' %}"
                {% endif %}
           role="button">
            <span class="glyphicon glyphicon-remove"></span> Nein</a>
    </form>
{% endblock %}