{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>
    <h2>Bist du dir sicher, dass du {{ object.name }} löschen möchtest?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Ja</button>
        {% if cancel_button %}
            <a class="btn btn-warning" href="{{ cancel_button.url }}" role="button"
               style="margin: 5px 0; white-space: normal">
                 <span class="glyphicon glyphicon-remove"></span> {{ cancel_button.text }}</a>
        {% endif %}
    </form>
{% endblock %}