{% extends "webinterface/mobile_first_body.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
    <h3>Hallo Fremder, wer bist du?</h3>
    <div class="row">
        {% for cleaner in cleaner_list %}
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ cleaner.slug }}">
                    <input type="hidden" name="password" value="{{ cleaner.slug }}">
                    <button class="btn btn-primary btn-block" type="submit">
                        <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                    </button>
                </form>
            </div>
        {% empty %}
            <p>Keine Putzer...</p>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-default btn-block" href="{% url 'webinterface:config' %}" role="button">
        XXX Bereich</a>
{%  endblock %}