{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ schedule.name }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/home_button.html" %}
            {% if not user.is_superuser %}
                {% include "webinterface_snippets/button_to_schedule_list_page.html" %}
            {% endif %}
        </div>
    </div>

    {% if user.is_superuser %}
        <div class="row">
            {% if not schedule.assignment_set.exists %}
                <div class="alert alert-warning" role="alert" style="margin: 5px 0">
                    Dieser Putzplan besitzt keine Putzdienste! Erzeuge welche unter
                    <strong>Erzeuge Putzdienste oder aktualisiere Aufgaben</strong>.
                </div>
            {% endif %}
            {% if schedule.cleaningweek_set.assignments_invalid.exists %}
                <div class="alert alert-warning" role="alert" style="margin: 5px 0">
                    <p>
                        <strong>Die Putzdienste mancher Putzwochen sind ungültig!</strong>
                    </p>
                    <p>
                        Dies kann die Folge einer Änderung von
                        Zugehörigkeiten sein, oder dieser Putzdienst wurde einer Putzplan-Gruppierung hinzugefügt
                        oder aus einer solchen entfernt.
                    </p>
                    {% with invalid_weeks=schedule.cleaningweek_set.assignments_invalid %}
                        <ul>
                            <li>
                                Frühester betroffener Putzdienst:
                                <strong>{{ invalid_weeks.first.assignment_date }}</strong>
                            </li>
                            <li>
                                Spätester betroffener Putzdienst:
                                <strong>{{ invalid_weeks.last.assignment_date }}</strong>
                            </li>
                        </ul>
                        <p>
                            <a href="{% url 'webinterface:assignment-create-init' schedule.pk page_obj.number invalid_weeks.first.week invalid_weeks.last.week %}">
                                <strong>Behebe das Problem hier</strong> <i>(alles notwendige ist schon eingetragen)</i></a>
                        </p>
                    {% endwith %}
                </div>
            {% endif %}
            {% if schedule.assignments_are_running_out %}
                <div class="alert alert-warning" role="alert" style="margin: 5px 0">
                    <p>
                        <strong>Bald laufen die Putzdienste aus!</strong>
                    </p>
                    {% with last_assignment=schedule.assignment_set.last nr_weeks=8 %}
                        <p>
                            Der letzte Putzdienst für diesen Putzplan ist schon am
                            <strong>{{ last_assignment.assignment_date }}</strong>. Es wird Zeit für neue Putzdienste!
                        </p>
                        <p>
                            <a href="{% url 'webinterface:assignment-create-init' schedule.pk page_obj.number last_assignment.cleaning_week.week last_assignment.cleaning_week.week|add:nr_weeks %}">
                                <strong>Klicke hier um für diesen Putzplan für {{ nr_weeks }}
                                    weitere Wochen Putzdienste zu erzeugen!</strong>
                                <i>(alles notwendige ist schon eingetragen)</i>
                            </a>
                        </p>
                    {% endwith %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="row">
        <div class="panel panel-primary" style="margin-bottom: 0">
            <div class="panel-heading">
                <h3>{{ schedule.name }} - Putzdienste</h3>
            </div>
        </div>
    </div>

    {% if user.is_superuser %}
        <div class="row" style="padding: 5px">
            <div class="col-xs-12">
                <a class="btn btn-info btn-block"
                   href="{% url 'webinterface:assignment-create-back-to-schedule' schedule.pk page_obj.number %}"
                   role="button">
                    Erzeuge Putzdienste oder aktualisiere Aufgaben
                </a>
            </div>
        </div>
    {% endif %}

    {% include "webinterface_snippets/schedule_pagination_buttons.html" %}

    <table class="table table-striped" style="margin-bottom: 0">
        <tr>
            <!--td> </td-->
            <td><span class="glyphicon glyphicon-calendar"></span> Datum</td>
            <td><span class="glyphicon glyphicon-user"></span> Putzer</td>
            {% if user.is_superuser %}
                <td> </td>
            {% endif %}
        </tr>

        {% for cleaning_week in cleaningweek_list %}
                <tr class="
{% if cleaning_week.disabled or not cleaning_week.assignments_valid %}{% if user.is_superuser %}danger{% endif %}
{% elif cleaning_week.tasks_are_ready_to_be_done %}success{% endif %}">

                    <td>{{ cleaning_week.assignment_date|date:"d. M, Y" }}</td>
                    <td>
                        {% if not cleaning_week.disabled %}
                            {% if not cleaning_week.assignments_valid %}
                                <b>Wegen einer Änderung von Zugehörigkeiten in diesem Zeitraum müssen die
                                Putzdienste in dieser Woche aktualisiert werden</b>
                            {% else %}
                                <a class="btn btn-default"
                                   href="{% url 'webinterface:assignment-tasks-back-to-schedule' cleaning_week.pk page_obj.number %}"
                                   role="button">
                                    {% for assignment in cleaning_week.assignment_set.all %}
                                        {{ assignment.cleaner.name }}{% if not forloop.last %} & {% endif %}
                                    {% empty %}
                                        <i style="color: gray">Keine Putzdienste</i>
                                    {% endfor %}
                                    {% if not cleaning_week.is_in_future %}
                                        <span class="label label-default">
                                            {{ cleaning_week.completed_tasks.count }} /
                                            {{ cleaning_week.task_set.count }}
                                        </span>
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% else %}
                            {% if cleaning_week.disabled %}
                                In dieser Woche müssen keine Putzdienste erledigt werden.
                            {% else %}
                                Keine Putzdienste in dieser Woche.
                            {% endif %}
                        {% endif %}
                    </td>

                    {% if user.is_superuser %}
                        <td>
                            <div class="btn-group">
                                <button type="button"
                                        class="btn
                                               {% if cleaning_week.assignments_valid %}btn-default
                                               {% else %}btn-warning
                                               {% endif %}
                                              dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% if not cleaning_week.disabled %}
                                        {% for assignment in cleaning_week.assignment_set.all %}
                                            <li><a href="{% url 'webinterface:assignment-edit' assignment.pk page_obj.number %}">
                                                <span class="glyphicon glyphicon-cog"></span>
                                                {{ assignment.cleaner }}'s Dienst bearbeiten
                                            </a></li>
                                        {% endfor %}
                                        <li role="separator" class="divider"></li>

                                        {% if cleaning_week.task_templates_missing.exists %}
                                            <li>
                                                <a href="{% url 'webinterface:cleaning-week-tasks' cleaning_week.pk page_obj.number %}">
                                                    <span class="glyphicon glyphicon-plus"></span> Aufgaben aktualisieren
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if not cleaning_week.assignments_valid %}
                                            <li class="bg-danger">
                                                <a href="
{% url 'webinterface:assignment-create-init' schedule.pk page_obj.number cleaning_week.week cleaning_week.week%}">
                                                    <span class="glyphicon glyphicon-refresh"></span> Putzdienste aktualisieren
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'webinterface:cleaning-week-edit' cleaning_week.pk page_obj.number %}">
                                            <span class="glyphicon glyphicon-off"></span>
                                            Diese Woche {% if cleaning_week.disabled %}aktivieren{% else %}deaktivieren{% endif %}
                                        </a>
                                    </li>
                                    {% comment %}
                                    CleaningWeeks shall not be deleted, rather disabled!
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'webinterface:cleaning-week-delete' cleaning_week.pk page_obj.number %}">
                                        <span class="glyphicon glyphicon-warning-sign"></span> Löschen
                                    </a></li>
                                    {% endcomment %}
                                </ul>
                            </div>
                        </td>
                    {% endif %}
                </tr>
        {% empty %}
            Keine Putzdienste vorhanden...
        {% endfor %}
    </table>
    {% include "webinterface_snippets/schedule_pagination_buttons.html" %}
    <br>
    {% if page_obj.0.week %}
        <div class="row" style="padding: 5px">
            <div class="col-xs-12">
                <a href="{% url 'webinterface:schedule-analystics-view-with-schedule-page' schedule.slug page_obj.number %}"
                   class="btn btn-default btn-block" role="button">
                    <span class="glyphicon glyphicon-stats"></span> Analytics zu {{ schedule }}
                </a>
            </div>
        </div>

        <div class="row" style="padding: 5px">
            <div class="col-xs-12">
                <a href="{% url 'webinterface:schedule-print-view' schedule.slug page_obj.0.week %}"
                   class="btn btn-default btn-block" role="button">
                    <span class="glyphicon glyphicon-print"></span> Druckansicht (ab erstem Datum dieser Seite)
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}