{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ schedule.name }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/button_to_cleaner_page.html" %}
            {% include "webinterface_snippets/button_to_schedule_list_page.html" %}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Putzdienst vom {{ schedule.get_active_assignments.first.cleaning_day.date }}</h3>
        </div>
        <div class="panel-body">
            Schon geputzt:
            <ul style="list-style: none;">
            {% for task in schedule.get_current_cleaning_day.done_tasks %}
               <li><span class="glyphicon glyphicon-check"></span> {{ task.name }}
                   <span class="glyphicon glyphicon-resize-horizontal"></span>
                   <span class="glyphicon glyphicon-user"></span>
                   {{ task.cleaned_by.cleaner.name }}</li>
            {% endfor %}
            </ul>
            Noch nicht geputzt:
            <ul style="list-style: none;">
            {% for task in schedule.get_current_cleaning_day.open_tasks %}
                <li><span class="glyphicon glyphicon-unchecked"></span> {{ task.name }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <p><i>Kontaktiere den XXX im Beschwerdefall direkt.</i></p>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary" style="margin-bottom: 0">
            <div class="panel-heading">
                <h3>{{ schedule.name }} - Putzdienste</h3>
            </div>
        </div>
    </div>
    {% include "webinterface_snippets/schedule_pagination_buttons.html" %}
    {% include "webinterface_snippets/schedule_assignment_table.html" %}
    {% include "webinterface_snippets/schedule_pagination_buttons.html" %}
    {% comment %}<div class="row" style="padding: 1em">
        <h4>Hebe Putzer hervor</h4>
        <div class="col-xs-12 col-sm-4 col-md-3" style="padding: 5px">
            <a class="btn btn-default btn-sm btn-block {% if not highlighted_cleaner %} active {% endif %}"
                style="white-space: normal"
                role="button" href="{% url 'webinterface:schedule-view' schedule.slug page.number %}">
                <span class="glyphicon glyphicon-home"></span> Zurücksetzen
            </a>
        </div>

        {% for cleaner in cleaners %}
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                <a class="btn btn-default btn-sm btn-block
                    {% ifequal highlighted_cleaner.name cleaner.name %} active {% endifequal %}"
                    role="button"
                    href="{% url 'webinterface:schedule-view-highlight' schedule.slug page.number cleaner.slug %}">
                    <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                </a>
            </div>
        {% endfor %}
    </div>{% endcomment %}
{% endblock %}