{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ schedule.name }}
{% endblock %}

{% block body %}
    <style>
        th.rotate {
            /* Something you can count on */
            height: 140px;
            white-space: nowrap;
        }

        th.rotate > div {
            transform:
                /* Magic Numbers */
                    translate(20px, 105px)
                        /* 45 is really 360 - 45 */
                    rotate(315deg);
            width: 30px;
        }

        th.text_bottom > div {
            transform:
                translate(20px, 105px);
        }

        th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 5px 0px;
        }

        .checkmark {
            width: 1em;
        }

        .date {
            width: 8em;
        }

        .cleaner {
            width: 12em;
        }


    </style>

    <h1 style="margin: 20px 0 -60px 20px">{{ schedule.name }}</h1>
    <table id="printtable" class="table table-condensed table-bordered table-striped"
           style="width: auto; border:none; margin: 0 100px 10px 10px">
        <tr style="background: #ffffff">
            <th class="text_bottom date" style="border: none"><div><span>Datum</span></div></th>
            <th class="text_bottom cleaner" style="border: none"><div><span>Putzer</span></div></th>
            {% for task_template in task_templates %}
                <th class="rotate checkmark" style="border: none">
                    <div>
                        <span {% if forloop.first %}style="border-top: none;"{% endif %}>{{ task_template }}</span>
                    </div>
                </th>
            {% endfor %}
        </tr>
        {% for cleaning_week in cleaning_weeks %}
            <tr>
                <td class="date">{{ cleaning_week.assignment_date|date:"d. M Y" }}</td>
                <td class="cleaner">
                    {% for cleaner in cleaning_week.assigned_cleaners %}
                        {{ cleaner }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                {% for task_template in task_templates %}
                    {% if task_template in cleaning_week.completed_tasks__as_templates %}
                        <td class="checkmark"><span class="glyphicon glyphicon-ok"></span></td>
                    {% else %}
                        <td class="checkmark"> </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}