{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}
{% load tz %}

{% block title %}
Aufgaben für {{ schedule }}
{% endblock %}

{% block main %}
    <h2>Aufgaben für <b>{{ schedule }}</b></h2>
    <a class="btn btn-default" role="button" href="{% url 'webinterface:schedule-edit' schedule.pk %}">
        <span class="glyphicon glyphicon-chevron-left"></span> Zurück
    </a>
    <a class="btn btn-default btn-block" role="button" href="{% url 'webinterface:schedule-task-new' schedule.pk %}">
        <span class="glyphicon glyphicon-send"></span> Neue Aufgabe erstellen
    </a>
    <br>
    <br>
    {% for task in object_list.all %}
        {% if task.task_disabled %}
            <div class="panel panel-default">
        {% else %}
            <div class="panel panel-primary">
        {% endif %}
            <!-- Default panel contents -->
            <div class="panel-heading">{{ task.task_name }} {% if task.task_disabled %}<b>Deaktiviert</b>{% endif %}
            </div>
            <div class="panel-body">
                <i>Hilfetext: </i>{{ task.task_help_text }}
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Kann immer <b>{{ task.start_day_to_weekday }}</b> angefangen werden</li>
                <li class="list-group-item">Muss bis <b>{{ task.end_day_to_weekday }}</b> erledigt sein.</li>
                <li class="list-group-item">
                    <a class="btn btn-info" role="button" href="{% url 'webinterface:task-edit' task.pk %}">
                        <span class="glyphicon glyphicon-cog"></span> Bearbeiten</a>
                </li>
            </ul>
        </div>
    {% empty %}
        <h3>Es sind keine Aufgaben definiert.</h3>
    {% endfor %}
{% endblock %}
