{% extends "webinterface/mobile_first_body.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst tauschen
{% endblock %}

{% block main %}
    <div class="row">
        <div class="btn btn-group btn-group-md btn-group-justified" role="group">
            {% include "webinterface_snippets/button_to_cleaner_page.html" %}
            {% ifequal perspective 'source' %}
                <div class="btn-group btn-group-md" role="group">
                    <button class="btn btn-default" type="submit" name="delete" form="duty_switch_delete">
                        <span class="glyphicon glyphicon-trash"></span> Löschen</button>
                </div>
            {% endifequal %}
        </div>
    </div>

    {% ifequal perspective 'source' %}
        <form id="duty_switch_delete" class="form-inline" method="post">
            {% csrf_token %}
            <input type="hidden" name="redirect_cleaner_slug"
                   value="{{ object.source_assignment.cleaner.slug }}">

        </form>
        {% if not object.selected_assignment %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        Deine Tauschanfrage<br>
                        <span class="glyphicon glyphicon-play"></span> {{ object.source_assignment.schedule.name }}<br>
                        <span class="glyphicon glyphicon-calendar"></span> {{ object.source_assignment.cleaning_week.date }}
                    </h3>
                </div>
            </div>
        {% else %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3>Du hast für diesen Putzdienst schon eine Anfrage an {{ object.selected_assignment.cleaner.name }}
                        gesendet.</h3>
                </div>
            </div>
            <div class="well well-sm" style="text-align: center">
                <h3>
                    {{ object.source_assignment.schedule.name }}</h3>
                <h4>
                    Du, {{ object.source_assignment.cleaning_week.date }}<br>
                    <span class="glyphicon glyphicon-sort"></span><br>
                    <span class="glyphicon glyphicon-calendar"></span> {{ object.selected_assignment.cleaning_day.date }}
                    <span class="glyphicon glyphicon-user"></span> {{ object.selected_assignment.cleaner.name }}
                </h4>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Wenn du deine Wahl ändern möchtest, dann wähle eines der folgenden Möglichkeiten aus.</h3>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% if object.filtered_destinations.all %}
                <div class="col-xs-12">
                    <p>Ich habe dir ein paar Putzdienste zur Auswahl herausgesucht, bitte wähle einen aus. </p>
                </div>
                {% for option in object.filtered_destinations.all %}
                    <div class="col-xs-12 col-sm-6" style="padding: 5px">
                        <form class="form-inline" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_cleaner_slug" value="{{ object.source_assignment.cleaner.slug }}">
                            <input type="hidden" name="selected" value="{{ option.pk }}">
                            <button class="btn btn-info btn-lg btn-block" type="submit" name="select"
                                    style="white-space: normal;">
                                <span class="glyphicon glyphicon-sort"></span><br>
                                <span class="glyphicon glyphicon-calendar"></span> {{ option.cleaning_day.date }}
                                <span class="glyphicon glyphicon-user"></span> {{ option.cleaner.name }}
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12 bg-info">
                    <h3 style="margin-bottom: 4em">Keine Alternativen gefunden</h3>
                </div>
            {% endif %}
        </div>
    {% else %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="padding: 0.3em">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>{{ object.source_assignment.schedule.name }}</h2>
                    <h4>{{ object.source_assignment.cleaner.name }} möchte folgende Dienste tauschen:</h4>
                </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="text-align: center">
                        <h4>
                            <span class="glyphicon glyphicon-user"></span> {{ object.source_assignment.cleaner.name }}
                            <span class="glyphicon glyphicon-calendar"></span> {{ object.source_assignment.cleaning_week.date }}<br>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            <span class="glyphicon glyphicon-user"></span> Du
                            <span class="glyphicon glyphicon-calendar"></span> {{ object.selected_assignment.cleaning_day.date }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <h3>Möchtest du die Anfrage annehmen oder ablehnen?</h3>
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <input type="hidden" name="redirect_cleaner_slug"
                               value="{{ object.selected_assignment.cleaner.slug }}">
                        <div class="col-sm-6" style="padding: 0.5em">
                            <button class="btn btn-success btn-lg btn-block" type="submit" name="accept">
                                <span class="glyphicon glyphicon-ok-sign"></span> Annehmen</button>
                        </div>
                        <div class="col-sm-6" style="padding: 0.5em">
                            <button class="btn btn-danger btn-lg btn-block" type="submit" name="reject">
                                <span class="glyphicon glyphicon-remove-sign"></span> Ablehnen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endifequal %}
{% endblock %}