{% extends "webinterface/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Putzdienst tauschen
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin: 1em;">
            <h1>Tausche Putzdienst</h1>
            {% comment %}<a class="btn btn-default" role="button"
               href="{% url 'webinterface:welcome' %}">
                <span class="glyphicon glyphicon-chevron-left"></span> Back
            </a>{% endcomment %}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Hallo {{ old_cleaner.name }}, wie ich sehe möchtest du
                    deinen Putzdienst am {{ duty.date }} tauschen.</h2>
            </div>
            <div class="panel-body">
                    <div class="row" style="margin: 1em;">
                        <p>Ich habe dir ein paar Putzdienste zur Auswahl herausgesucht, bitte wähle einen aus. </p>
                        {% if double_duty_flag %}
                            <p class="bg-warning"><i>Wenn du tauscht, bedeutet dies, das der neue Putzer an diesem
                            Tag zwei Putzdienste hat.</i></p>
                        {% endif %}
                    </div>

                    <form class="form-inline" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" name="old_cleaner_pk" value="{{ old_cleaner.pk }}">
                            <input type="hidden" name="duty_pk" value="{{ duty.pk }}">
                            {% for cleaner, repl_duty in replacement_duties %}
                                <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px">
                                    <input type="submit" name="option-{{ cleaner.pk }}-{{ repl_duty.pk }}"
                                           style="white-space: normal;"
                                           class="btn btn-info btn-lg btn-block"
                                           value="Tausche mit {{ cleaner.name }} am {{ repl_duty.date }}"/>
                                </div>
                            {% empty %}
                                <h3>Keine Alternativen gefunden</h3>
                            {% endfor %}
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}