{% extends "webinterface/base.html" %}
{% load bootstrap3 %}

{% block title %}
Welcome!
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2
                            col-md-6 col-md-offset-3">
                <h1>Welcome to the cleaning plan generator 2000!</h1>
            </div>
            <div class="col-sm-8 col-sm-offset-2
                            col-md-6 col-md-offset-3">
                <a class="btn btn-primary btn-lg btn-block"
                   href="{% url 'webinterface:duties-all-no-pk-page1' %}" role="button">
                    <span class="glyphicon glyphicon-calendar"></span> View all duties
                    <span class="glyphicon glyphicon-calendar"></span></a>
                <h3>Personal pages</h3>
                {% for cleaner in cleaner_list %}
                    <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                        <a class="btn btn-primary btn-lg btn-block" role="button"
                           href="{% url 'webinterface:cleaner-duties-page1' cleaner.pk cleaner.name|slugify %}">
                            <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                        </a>
                    </div>
                {% empty %}
                    <p>Nothing to display here...</p>
                {% endfor %}
            </div>
            <div class="col-sm-8 col-sm-offset-2
                            col-md-6 col-md-offset-3">
                <br><br><br><br><br><br>
                <a class="btn btn-default btn-lg btn-block" href="{% url 'webinterface:config' %}" role="button">
                    XXX area</a>
            </div>
        </div>
    </div>
{% endblock %}