{% extends "webinterface/base.html" %}
{% load bootstrap3 %}

{% block title %}
Willkommen
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2
                            col-md-6 col-md-offset-3">

                <h3>Putzpläne</h3>
                <div class="row">
                    {% for schedule in schedule_list %}
                        <div class="col-xs-12 col-sm-4" style="padding: 5px">
                            <a class="btn btn-primary btn-block" role="button"
                               href="{% url 'webinterface:schedule-view' schedule.pk 1 %}">
                                <span class="glyphicon glyphicon-calendar"></span> {{ schedule.name }}
                            </a>
                        </div>
                    {% empty %}
                        <p>Keine Putzpläne...</p>
                    {% endfor %}
                </div>

                <h3>Persönliche Seiten</h3>
                <div class="row">
                    {% for cleaner in cleaner_list %}
                        <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px">
                            <a class="btn btn-primary btn-block" role="button"
                               href="{% url 'webinterface:cleaner-duties' cleaner.slug 1 %}">
                                <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                            </a>
                        </div>
                    {% empty %}
                        <p>Keine Putzer...</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2
                            col-md-6 col-md-offset-3">
                <br><br><br><br><br><br>
                <a class="btn btn-default btn-block" href="{% url 'webinterface:config' %}" role="button">
                    XXX Bereich</a>
            </div>
        </div>
    </div>
{% endblock %}