<div class="row" style="padding: 0.25em">
    <div class="col-xs-12">
        <span class="glyphicon glyphicon-play"></span> <b>{{ assignment.schedule.name }}</b>
    </div>

    <div class="col-xs-6">
        <span class="glyphicon glyphicon-calendar"></span> {{ assignment.cleaning_day.date }}
    </div>

    <div class="col-xs-6">
        {% if assignment.cleaning_buddies.all %}
            <span class="glyphicon glyphicon-record"></span> Mit
            {% for cleaner in assignment.cleaning_buddies.all %}
                {{ cleaner.name }}
                {% ifnotequal cleaner assignment.cleaning_buddies.last %}
                    ,
                {% endifnotequal %}
            {% endfor %}
        {% endif %}
    </div>
</div>