{% with last_affiliation=cleaner.affiliation_set.last current_affiliation=cleaner.current_affiliation homeless_soon=cleaner.is_homeless_soon %}
    <div class="col-xs-12 col-sm-6" style="padding: 5px">
        <div class="panel
            {% if current_affiliation %}
                panel-info
            {% elif not last_affiliation %}
                panel-danger
            {% else %}
                panel-default
            {% endif %}">
            <div class="panel-heading">

                <h3 class="panel-title">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle pull-right"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'webinterface:cleaner-edit' cleaner.pk %}">
                                <span class="glyphicon glyphicon-cog"></span> Putzerdaten</a></li>
                            <li role="separator" class="divider"></li>
                            <li {% if not last_affiliation or homeless_soon %}class="bg-danger" {% endif %}>
                                <a href="{% url 'webinterface:affiliation-list' cleaner.pk %}">
                                    <span class="glyphicon glyphicon-home"></span> Zugehörigkeiten</a>
                            </li>
                        </ul>
                    </div>

                    <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
                </h3>
            </div>
            <div class="panel-footer">
                {% if last_affiliation %}
                    {% if current_affiliation %}
                        In <strong>{{ current_affiliation.group }}</strong><br>
                        bis <span class="glyphicon glyphicon-calendar"></span>
                        <strong>{{ current_affiliation.end_as_date|date:"d. M. Y" }}</strong>
                    {% else %}
                        War in <strong>{{ last_affiliation.group }}</strong><br>
                        bis <span class="glyphicon glyphicon-calendar"></span>
                        <strong>{{ last_affiliation.end_as_date|date:"d. M. Y" }}</strong>
                    {% endif %}
                {% endif %}
                {% if not last_affiliation or homeless_soon %}
                    <ul style="padding: 0">
                        {% if not last_affiliation %}
                            <li class="bg-warning">
                                Dieser Putzer hat keine Zugehörigkeiten!
                                <span style="white-space: nowrap">
                                    (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="glyphicon glyphicon-home"></span> Zugehörigkeiten)
                                </span>
                            </li>
                        {% endif %}
                        {% if homeless_soon %}
                            <li class="bg-warning">
                                Dieser Putzer zieht bald aus!
                                <span style="white-space: nowrap">
                                    (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="glyphicon glyphicon-home"></span> Zugehörigkeiten)
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}
