<div class="col-xs-12 col-sm-6" style="padding: 5px">
    <div class="panel {% if cleaner.is_active %}panel-info{% else %}panel-default{% endif %}">
        <div class="panel-heading">

            <h3 class="panel-title">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle pull-right"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'webinterface:cleaner-edit' cleaner.pk %}">
                            <span class="glyphicon glyphicon-cog"></span> Putzerdaten</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'webinterface:affiliation-list' cleaner.pk %}">
                            <span class="glyphicon glyphicon-home"></span> Zugehörigkeiten</a></li>
                    </ul>
                </div>

                <span class="glyphicon glyphicon-user"></span> {{ cleaner.name }}
            </h3>

        </div>
        <!--div class="panel-body">
            {% if not cleaner.has_slack_id %}<span class="badge">Slack ID fehlt!</span>
            {% endif %}
        </div-->
    </div>
</div>
