{% with templates_exist=schedule.tasktemplate_set.exists assignments_exist=schedule.assignment_set.exists %}
{% with groups_exist=schedule.schedulegroup_set.exists some_assignments_invalid=schedule.cleaningweek_set.assignments_invalid.exists %}
{% with assignments_running_out=schedule.assignments_are_running_out %}
<div class="col-xs-12 col-sm-6" style="padding: 5px">
    <div class="panel
            {% if schedule.disabled %}
                panel-default
            {% elif not templates_exist or not assignments_exist or not groups_exist or some_assignments_invalid or assignments_running_out %}
                panel-danger
            {% else %}
                panel-info
            {% endif %}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle pull-right"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li {% if not schedule.disabled %}{% if not assignments_exist or some_assignments_invalid or assignments_running_out %}
                                class="bg-danger"{% endif %}{% endif %}>

                            <a href="{% url 'webinterface:schedule-no-page' schedule.slug %}">
                            <span class="glyphicon glyphicon-eye-open"></span> Putzdienste</a>

                        </li>

                        <li role="separator" class="divider"></li>

                        <li {% if not schedule.disabled and not groups_exist %}
                                class="bg-danger"{% endif %}>

                            <a href="{% url 'webinterface:schedule-edit' schedule.pk %}">
                            <span class="glyphicon glyphicon-cog"></span> Bearbeiten</a>

                        </li>
                        <li {% if not schedule.disabled and not templates_exist %}
                                class="bg-danger"{% endif %}>
                            <a href="{% url 'webinterface:schedule-task-list' schedule.pk %}">
                            <span class="glyphicon glyphicon-tags"></span> Aufgaben</a>

                        </li>
                    </ul>
                </div>

                <span class="glyphicon glyphicon-list-alt"></span> {{ schedule.name }}
            </h3>
        </div>
        <div class="panel-footer">
            {% if not schedule.disabled %}
                {% if not templates_exist or not assignments_exist or not groups_exist or some_assignments_invalid or assignments_running_out %}
                    {% if not templates_exist %}
                        <ul style="padding: 0">
                            <li class="bg-warning">
                                Bitte füge Aufgaben hinzu!
                                <span style="white-space: nowrap">
                                (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <span class="glyphicon glyphicon-tags"></span> Aufgaben)
                            </span>
                            </li>
                        </ul>
                    {% endif %}
                    {% if not groups_exist %}
                        <ul style="padding: 0">
                            <li class="bg-warning">
                                Dieser Putzplan gehört keiner Gruppe an!
                                <span style="white-space: nowrap">
                                (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <span class="glyphicon glyphicon-cog"></span> Bearbeiten)
                            </span>
                            </li>
                        </ul>
                    {% endif %}
                    {% if not assignments_exist %}
                        <ul style="padding: 0">
                            <li class="bg-warning">
                                Dieser Putzplan hat noch keine Putzdienste!
                                <span style="white-space: nowrap">
                                (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <span class="glyphicon glyphicon-eye-open"></span> Putzdienste)
                            </span>
                            </li>
                        </ul>
                    {% endif %}
                    {% if some_assignments_invalid %}
                        <ul style="padding: 0">
                            <li class="bg-warning">
                                Bei manchen Putzwochen müssen die Putzdienste aktualisiert werden!
                                <span style="white-space: nowrap">
                                (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <span class="glyphicon glyphicon-eye-open"></span> Putzdienste)
                            </span>
                            </li>
                        </ul>
                    {% endif %}
                    {% if assignments_running_out %}
                        <ul style="padding: 0">
                            <li class="bg-warning">
                                Der letzte Putzdienst ist schon am
                                <strong>{{ schedule.assignment_set.last.assignment_date }}</strong>.
                                Es müssen neue Putzdienste erstellt werden!
                                <span style="white-space: nowrap">
                                (<span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <span class="glyphicon glyphicon-eye-open"></span> Putzdienste)
                            </span>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
            <p>
                Besitzt <span class="glyphicon glyphicon-send"></span>
                <strong>{{ schedule.tasktemplate_set.count }}</strong> Aufgaben.
            </p>
            <p>
                <span class="glyphicon glyphicon-repeat"></span>
                <strong>
                    {% if schedule.frequency == 1 %}
                        jede Woche
                    {% elif schedule.frequency == 2 %}
                        in geraden Wochen
                    {% elif schedule.frequency == 3 %}
                        in ungeraden Wochen
                    {% endif %}
                </strong>
                am <span class="glyphicon glyphicon-calendar"></span>
                <strong>{{ schedule.weekday_as_name }}</strong> mit
                <span class=" glyphicon glyphicon-user "></span> <strong>{{ schedule.cleaners_per_date }}</strong>
                Putzenden pro Dienst.
            </p>
            <p>
                <span class=" glyphicon glyphicon-user "></span>
                <strong>{{ schedule.currently_active_affiliations.count }}</strong> Putzende haben derzeit eine
                Zugehörigkeit mit diesem Putzplan.
            </p>
        </div>
    </div>
</div>
{% endwith %}{% endwith %}{% endwith %}
