 <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 5px">
     <button type="button" class="btn {% if schedule.disabled %}btn-default{% else %}btn-primary{% endif %} btn-block dropdown-toggle"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="glyphicon glyphicon-list-alt"></span> {{ schedule.name }} <span class="pull-right caret"></span>
         <span class="sr-only">Toggle Dropdown</span>
     </button>
     <ul class="dropdown-menu">
         <li><a href="{% url 'webinterface:schedule-view-no-page' schedule.slug %}">
             <span class="glyphicon glyphicon-eye-open"></span> Putzdienste</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="{% url 'webinterface:schedule-edit' schedule.pk %}">
             <span class="glyphicon glyphicon-cog"></span> Bearbeiten</a></li>
         <li><a href="{% url 'webinterface:schedule-task-list' schedule.pk %}">
             <span class="glyphicon glyphicon-tags"></span> Aufgaben</a></li>
     </ul>
 </div>