<div class="col-xs-12 col-sm-6" style="padding: 5px">
    <div class="panel
            {% if schedule.disabled %}
                panel-default
            {% elif not schedule.tasktemplate_set.exists %}
                panel-danger
            {% else %}
                panel-info
            {% endif %}">
        <div class="panel-heading">

            <h3 class="panel-title">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle pull-right"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li {% if not schedule.disabled and not schedule.assignment_set.exists %}
                                class="bg-danger"{% endif %}>

                            <a href="{% url 'webinterface:schedule-no-page' schedule.slug %}">
                            <span class="glyphicon glyphicon-eye-open"></span> Putzdienste</a>

                        </li>

                        <li role="separator" class="divider"></li>

                        <li {% if not schedule.disabled and not schedule.schedulegroup_set.exists %}
                                class="bg-danger"{% endif %}>

                            <a href="{% url 'webinterface:schedule-edit' schedule.pk %}">
                            <span class="glyphicon glyphicon-cog"></span> Bearbeiten</a>

                        </li>
                        <li {% if not schedule.disabled and not schedule.tasktemplate_set.exists %}
                                class="bg-danger"{% endif %}>
                            <a href="{% url 'webinterface:schedule-task-list' schedule.pk %}">
                            <span class="glyphicon glyphicon-tags"></span> Aufgaben</a>

                        </li>
                    </ul>
                </div>

                <span class="glyphicon glyphicon-list-alt"></span> {{ schedule.name }}
            </h3>
        </div>
        <div class="panel-footer">
            {% if not schedule.disabled %}
                {% if not schedule.tasktemplate_set.exists %}
                    <ul style="padding: 0">
                        <li class="bg-warning">
                            Bitte füge Aufgaben hinzu!
                            <span style="white-space: nowrap">
                            (<span class="glyphicon glyphicon-cog"></span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                            <span class="glyphicon glyphicon-tags"></span> Aufgaben)
                        </span>
                        </li>
                    </ul>
                {% endif %}
                {% if not schedule.schedulegroup_set.exists %}
                    <ul style="padding: 0">
                        <li class="bg-warning">
                            Dieser Putzplan gehört keiner Gruppe an!
                            <span style="white-space: nowrap">
                            (<span class="glyphicon glyphicon-cog"></span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                            <span class="glyphicon glyphicon-cog"></span> Bearbeiten)
                        </span>
                        </li>
                    </ul>
                {% endif %}
                {% if not schedule.assignment_set.exists %}
                    <ul style="padding: 0">
                        <li class="bg-warning">
                            Dieser Putzplan hat noch keine Putzdienste!
                            <span style="white-space: nowrap">
                            (<span class="glyphicon glyphicon-cog"></span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                            <span class="glyphicon glyphicon-eye-open"></span> Putzdienste)
                        </span>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
