<div class="panel {% if task.my_time_has_come %}panel-success{% else %}panel-default{% endif %}">
    <div class="panel-heading">
        <p><span class="glyphicon glyphicon-play"></span> <strong>{{ task }}</strong></p>
        {% if assignment %}
            {% if cleaner in cleaning_week.assigned_cleaners and task.my_time_has_come  or user.is_superuser %}
                <a class="btn {% if task.my_time_has_come and not task.cleaned_by %}btn-success{% else %}btn-default{% endif %}"
                   href="{% url 'webinterface:task-cleaned' assignment.pk task.pk %}"
                   role="button">
                    {% if not task.cleaned_by %}
                        <span class="glyphicon glyphicon-saved"></span> Abhaken
                    {% else %}
                        Bearbeiten
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="panel-body">
        <p>Bearbeitbar von <b>{{ task.start_date|date:"l, d. M Y" }}</b> bis
            <strong>{{ task.end_date|date:"l, d. M Y" }}</strong>.</p>
        {% if task.cleaned_by %}
            <p>Hat <span class="glyphicon glyphicon-user"></span> <strong>{{ task.cleaned_by }}</strong> erledigt.</p>
        {% endif %}
    </div>
</div>
{% comment %}

{% if assignment %}
    {% if cleaner in cleaning_week.assigned_cleaners and task.my_time_has_come or user.is_superuser %}
        <a class="btn btn-warning"
           href="{% url 'webinterface:task-cleaned' assignment.pk task.pk %}"
           role="button">
            <span class="glyphicon glyphicon-saved"></span> Abhaken
        </a>
    {% endif %}
{% endif %}
{% if cleaner in cleaning_week.assigned_cleaners and task.my_time_has_come or user.is_superuser %}
    <a class="btn btn-success btn-block"
       href="{% url 'webinterface:task-cleaned' assignment.pk task.pk %}"
       role="button">
        {{ task }} -> <span class="glyphicon glyphicon-user"></span> {{ task.cleaned_by }}
    </a>
{% else %}
    <a class="btn btn-success btn-block disabled" href="#" role="button">
        {{ task }} -> <span class="glyphicon glyphicon-user"></span> {{ task.cleaned_by }}
    </a>
{% endif %}{% endcomment %}
