{% if as_nav %}
    <a href="#task_{{ task.pk }}" class="btn  btn-xs btn-block
    {% if task.my_time_has_come and not task.cleaned_by %}btn-success{% else %}btn-default{% endif %}"
    style="text-align: left; white-space: nowrap; overflow: hidden">
        {% if task.cleaned_by %}
            <span class="glyphicon glyphicon-user"></span> <strong>{{ task.cleaned_by }}</strong>:
        {% endif %}
        {{ task }}
        <br>
        <span class="glyphicon glyphicon-calendar"></span>
        <strong>{{ task.start_date|date:"d.m." }} - {{ task.end_date|date:"d.m." }}</strong>
    </a>
{% else %}
    <div class="panel {% if task.my_time_has_come and not task.cleaned_by %}panel-success{% else %}panel-default{% endif %}"
         id="task_{{ task.pk }}">
        <div class="panel-heading">
            <p>
                {% if task.cleaned_by %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-play"></span>
                {% endif %}
                <strong>{{ task }}</strong>
            </p>
            {% if assignment %}
                {% if cleaner in cleaning_week.assigned_cleaners and task.my_time_has_come or user.is_superuser %}
                    <a class="btn {% if task.my_time_has_come and not task.cleaned_by %}btn-success{% else %}btn-default{% endif %}"
                       href="{% url 'webinterface:task-cleaned' assignment.pk task.pk %}"
                       role="button">
                        {% if not task.cleaned_by %}
                            <span class="glyphicon glyphicon-saved"></span> Abhaken
                        {% else %}
                            Bearbeiten
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="panel-body">
            <p>Bearbeitbar von <b>{{ task.start_date|date:"l, d. M Y" }}</b> bis
                <strong>{{ task.end_date|date:"l, d. M Y" }}</strong>.</p>
            {% if task.cleaned_by %}
                <p>Hat <span class="glyphicon glyphicon-user"></span> <strong>{{ task.cleaned_by }}</strong> erledigt.</p>
            {% endif %}
            <button class="btn btn-xs {% if task.my_time_has_come %}btn-info{% else %}btn-default{% endif %}"
                    data-toggle="collapse" data-target="#{{ task.pk }}_help">
                <span class="glyphicon glyphicon-info-sign"></span> Hilfetext <span class="caret"></span>
            </button>
            <div id="{{ task.pk }}_help" class="collapse">
                <p class="bg-info" style="padding: 5px">{{ task.template.help_text }}</p>
            </div>
        </div>
    </div>
{% endif %}
